#header{
    font-size: 28px;
    font-weight: bold;
}

.header-img{
    background: image(heade);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    float: right;
    font-size: 20px;
}

a{
    display: block;
    padding: 4px;
    background-color: gray;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;

}