body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }


#header{
    font-size: 28px;
    font-weight: bold;
}

.header-img{
    background: image(heade);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    float: right;
    font-size: 20px;
}

a{
    display: block;
    padding: 4px;
    background-color: gray;
}

li a{
    display: block;
    text-align: center;
    padding: 12px 10px;

}

body{
    text-align: center;
}

.content{
    text-align: center;
}

#btn{
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border: solid;
    color: orange;

}

#how-it-works{
    display: flex;
    justify-content: center;
}

#how-it-works > iframe{
    width: 100%;
    max-width:560px ;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
 }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

.footer{
    border: 15px solid;
    border-radius: 3px;
    background-color: gray;
    color: white;
    
}

